
  form {
    background-color: #eee9e9;
    border-radius: 5px;
    padding: 20px;
  }
  
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-group {
    width: 48%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    padding-right: 1px;
    border-radius: 5px;
    margin-right: 10px;
    border: solid 1px rgb(106, 163, 13);
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  textarea {
    height: 100px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: solid 1px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #709871;
  }
  
  @media screen and (max-width: 480px) {
    .form-row {
      justify-content: center;
    }
    
    .form-group {
      width: 100%;
      margin-bottom: 10px;
    }
    
    .form-group:last-of-type {
      margin-bottom: 20px;
    }
  }
  